* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 1360px;
    height: 768px;
}
body {
    background: #000;
    overflow: hidden; 
	-moz-transform-origin: 0 0;
}
/* Dados */
#conteudo { 
    position: absolute;
    top: 0;
    left: 0;
    width: 1360px;
    height: 768px;
}
#midiaVideo ,
#anuncie { 
    position: absolute;
    top: 0;
    left: 0;
    width: 1360px;
    height: 704px;
    object-fit: fill;
}
#anuncie {
	display: none;
}