@font-face {
    font-family: 'bebas-neue-regular';
    src: url('./fonts/bebas-neue-regular.otf') format('opentype');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('./fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('./fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('./fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Intro';
    src: url('./fonts/Intro.otf') format('opentype');
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 395px;
    height: 195px;

}
body {
    background: #fff;
    overflow: hidden;
}
#cortina {
    position: absolute;
    top: 0;
    left: 0;
    width: 395px;
    height: 195px;
    background: #000;
}
/* Dados */
#conteudo { 
    position: absolute;
    top: 0;
    left: 0;
    width: 395px;
    height: 195px;
}
#abertura {
    width: 395px;
    height: 195px;
    position: absolute;
    top: 0px;
    left: 0;
}
#calhau {
    width: 395px;
    height: 195px;
    position: absolute;
    top: 0px;
    left: 0;
    display: none;
    object-fit: fill;
}
#fundo {
    width: 395px;
    height: 195px;
    position: absolute;
    top: 0px;
    left: 0;
    object-fit: fill;
}
#logo {
    position: absolute;
    top: 220px;
    left: 450px;
    width: 110px;
    background-color: #80c42b;
    display: none;
}
#ctFechamento {
    display: none;
}
#fechamento {
    width: 395px;
    height: 195px;
    position: absolute;
    top: 0px;
    left: 0;
    background: url(./media/fechamento.jpg);
}
div#nome {
    position: absolute;
    left: 18px;
    top: 21px;
    font-family: 'Raleway-Bold';
    color: #fff;
    font-size: 22pt;
    width: 169px;
    display: none;
}
div#preco {
    font-family: 'Intro';
    position: absolute;
    left: 211px;
    top: 24px;
    color: #FFF;
    font-size: 64pt;
    text-align: left;
    width: 120px;
    text-align: right;
    display: none;
}
div#cents {
	font-family: 'Intro';
    position: absolute;
    left: 326px;
    top: 34px;
    color: #FFF;
    font-size: 34pt;
    text-align: left;
    display: none;
}
div#unidade {
    position: absolute;
    top: 86px;
    font-family: 'Raleway-Bold';
    color: #fff;
    font-size: 16pt;
    width: 60px;
    left: 328px;
    text-align: center;
    line-height: 35px;
    display: none;
}
div#validade {
    position: absolute;
    left: 30px;
    top: 153px;
    font-family: 'Raleway-Bold';
    color: #fff;
    font-size: 21px;
    display: none;
}
#ctImg {
    display: none;
}
img#fileId {
    position: absolute;
    top: 15px;
    left: 310px;    
    width: 220px;
}
.fechar {
    animation-name: fechar;
    animation-duration: .4s;
}
@keyframes fechar{
    from {
        left: -395px;
    }
    to {
        left: 0;
    }
}