@font-face {
    font-family: 'AmsiProCond-Bold';
    src: url('./fonts/AmsiProCond-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'AmsiProCond-Regular';
    src: url('./fonts/AmsiProCond-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 1360px;
    height: 768px;
}
body {
    background: #fff;
    overflow: hidden;
}
/* Dados */
#conteudo { 
    position: absolute;
    top: 0;
    left: 0;
    width: 1360px;
    height: 768px;
}
#quadrado {
	position: absolute;
    top: 187px;
    left: 612px;
    width: 406px;
    display: none;
    z-index: 30;
}
#quadrado2 {
	position: absolute;
    top: 353px;
    left: 669px;
    width: 310px;
    display: none;
    z-index: 32;
}
#abertura {
    width: 1360px;
    position: absolute;
    top: 0px;
    left: 0;
}
#calhau {
    width: 1360px;
    position: absolute;
    top: 0px;
    left: 0;
    display: none;
}
#fundo {
    width: 1363px;
    position: absolute;
    top: 0px;
    left: 0;
}
#ctFechamento {
    display: none;
}
#fechamento {
    width: 1360px;
    height: 704px;
    position: absolute;
    top: 0px;
    left: 0;
    background: url(./media/fechamento.jpg);
}
div#nome {
    height: 85px;
    position: absolute;
    left: 755px;
    top: 595px;
    font-family: 'AmsiProCond-Bold';
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    width: 375px;
    display: none;
    line-height: 50px;
    z-index: 40;
    text-shadow: 
    /* Borda 5px ao redor do texto */
    -1px -1px 0 #733400,
     0px -1px 0 #733400,
     1px -1px 0 #733400,
    -1px  0px 0 #733400,
     1px  0px 0 #733400,
    -1px  1px 0 #733400,
     0px  1px 0 #733400,
     1px  1px 0 #733400,
    /* Expandindo a borda */
    -2px -2px 0 #733400,
     0px -2px 0 #733400,
     2px -2px 0 #733400,
    -2px  0px 0 #733400,
     2px  0px 0 #733400,
    -2px  2px 0 #733400,
     0px  2px 0 #733400,
     2px  2px 0 #733400,
    -3px -3px 0 #733400,
     0px -3px 0 #733400,
     3px -3px 0 #733400,
    -3px  0px 0 #733400,
     3px  0px 0 #733400,
    -3px  3px 0 #733400,
     0px  3px 0 #733400,
     3px  3px 0 #733400,
    -4px -4px 0 #733400,
     0px -4px 0 #733400,
     4px -4px 0 #733400,
    -4px  0px 0 #733400,
     4px  0px 0 #733400,
    -4px  4px 0 #733400,
     0px  4px 0 #733400,
     4px  4px 0 #733400,
    -5px -5px 0 #733400,
     0px -5px 0 #733400,
     5px -5px 0 #733400,
    -5px  0px 0 #733400,
     5px  0px 0 #733400,
    -5px  5px 0 #733400,
     0px  5px 0 #733400,
     5px  5px 0 #733400;
}
#reais2 {
    position: fixed;
    font-size: 30px;
    top: 145px;
    left: 1196px;
    z-index: 99;
    color: #ffffff;
    font-family: 'AmsiProCond-Bold';
}
div#ctPreco2 {
	position: absolute;
    left: 1108px;
    top: 150px;
    width: 226px;
    z-index: 99;
}
div#ctPreco {
	display: none;
	height: 140px;
}
div#preco {
    font-family: 'AmsiProCond-Bold';
    color: #ffffff;
    font-size: 105px;
    text-align: right;
    letter-spacing: -2px;
	float: left;
	min-width: 120px;
}
div#cents {
    font-family: 'AmsiProCond-Bold';
    color: #ffffff;
    font-size: 35px;
    text-align: left;
	float: left;
	margin-top: 41px;
	padding-left: 5px;
}
div#unidade {
    font-family: 'AmsiProCond-Bold';
    color: #ffffff;
    font-size: 19px;
    text-align: left;
    display: none;
    float: right;
    margin-right: 60px;
    margin-top: 0px;
}
div#validade {
    position: absolute;
    left: 760px;
    top: 693px;
    font-family: 'AmsiProCond-Bold';
    color: #ffffff;
    font-size: 25px;
    width: 365px;
    text-align: center;
    display: none;
    text-shadow: 
    /* Borda 5px ao redor do texto */
    -1px -1px 0 #733400,
     0px -1px 0 #733400,
     1px -1px 0 #733400,
    -1px  0px 0 #733400,
     1px  0px 0 #733400,
    -1px  1px 0 #733400,
     0px  1px 0 #733400,
     1px  1px 0 #733400,
    /* Expandindo a borda */
    -2px -2px 0 #733400,
     0px -2px 0 #733400,
     2px -2px 0 #733400,
    -2px  0px 0 #733400,
     2px  0px 0 #733400,
    -2px  2px 0 #733400,
     0px  2px 0 #733400,
     2px  2px 0 #733400,
    -3px -3px 0 #733400,
     0px -3px 0 #733400,
     3px -3px 0 #733400,
    -3px  0px 0 #733400,
     3px  0px 0 #733400,
    -3px  3px 0 #733400,
     0px  3px 0 #733400,
     3px  3px 0 #733400,
    -4px -4px 0 #733400,
     0px -4px 0 #733400,
     4px -4px 0 #733400,
    -4px  0px 0 #733400,
     4px  0px 0 #733400,
    -4px  4px 0 #733400,
     0px  4px 0 #733400,
     4px  4px 0 #733400,
    -5px -5px 0 #733400,
     0px -5px 0 #733400,
     5px -5px 0 #733400,
    -5px  0px 0 #733400,
     5px  0px 0 #733400,
    -5px  5px 0 #733400,
     0px  5px 0 #733400,
     5px  5px 0 #733400;
}
img#fileId {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 80px;
    left: 710px;
    display: none;
}
img#valor{
    position: absolute;
    z-index: 99;
    left: 1110px;
    top: 130px;
}
div #ctImg {
    
} 
.keyframes mostra-preco {
    animation-name: mostra-preco;
    animation-duration: .5s;
}
@keyframes mostra-preco{
    from {
        opacity: 0;
        top: 420px;
    }
    to {
        opacity: 0;
        top: 320px;
    }
}
@-webkit-keyframes slideInRightFade {
    from {
        opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRightFade {
    from {
        opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInRightFade {
    -webkit-animation-name: slideInRightFade;
    animation-name: slideInRightFade;
  }

@-webkit-keyframes slideOutRightFade {
    from {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
        opacity: 0;
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
  @keyframes slideOutRightFade {
    from {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
        opacity: 0;
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .slideOutRightFade {
    -webkit-animation-name: slideOutRightFade;
    animation-name: slideOutRightFade;
  }

  @-webkit-keyframes slideOutUpFade {
    from {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
        opacity: 0;
      visibility: hidden;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  @keyframes slideOutUpFade {
    from {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
        opacity: 0;
      visibility: hidden;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .slideOutUpFade {
    -webkit-animation-name: slideOutUpFade;
    animation-name: slideOutUpFade;
  }

  @-webkit-keyframes slideInUpFade {
    from {
        opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUpFade {
    from {
        opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUpFade {
    -webkit-animation-name: slideInUpFade;
    animation-name: slideInUpFade;
  }
