@font-face {
    font-family: 'Zurich Condensed BT';
    src: url('./fonts/Zurich Condensed BT.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 1360px;
    height: 703px;
}
body {
    background: #000;
    overflow: hidden;
}
/* Dados */
div#texto {
    height: 380px;
    max-height: 380px;
    position: absolute;
    left: 719px;
    top: 170px;
    font-family: 'Zurich Condensed BT';
    color: #000;
    font-size: 30px;
    display: none;
    width: 625px;
    line-height: 45px;
    font-weight: bold;
}
div#descricao {
    height: 90px;
    max-height: 90px;
    position: absolute;
    left: 765px;
    top: 530px;
    font-family: 'Zurich Condensed BT';
    color: #000;
    font-size: 25px;
    display: none;
    width: 530px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}
#ctImg {
    display: none;
}
img#fileId {
        width: 706px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 768px;
}

/* animacao */
.exibir-conteudo {
    animation-name: exibir-conteudo;
    animation-duration: 600ms;
}
@keyframes exibir-conteudo {
    from {
        opacity: 0;
        left: 560px;
    }
    to {
        opacity: 1;
        left: 660px;
    }
}

.fadeinUpUp {
    animation-name: fadeinUpUp;
    animation-duration: 600ms;
}
@keyframes fadeinUpUp {
    from {
        opacity: 0;
        top: 160px;
    }
    to {
        opacity: 1;
        top: 110px;
    }
}
