@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: url('./fonts/avenir-next-lt-pro-demi.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('./fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('./fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 270px;
    height: 407px;
}
body {
    background: #00376d;
    overflow: hidden;
}
/* Dados */
#conteudo { 
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 407px;
}
#midiaVideo { 
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 407px;
    display: none;
}
#titulo {
    position: absolute;
    top: 314px;
    left: 10px;
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 15px;
    color: #90B2FF;
    width: 251px;
}
#texto {
    position: absolute;
    top: 337px;
    left: 10px;
    font-family: 'AvenirNextLTPro-Bold';
    font-size: 12px;
    color: #fff;
    width: 251px;
}
#credito {
    position: absolute;
    top: 207px;
    color: #fff;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 11px;
    text-align: right;
    transform: rotate(-90deg);
    width: 300px;
    left: 107px;
}
#editoria {
    position: absolute;
    top: 0;
}
#bar {
    position: absolute;
    top: 0;
    left: 0;
}