@font-face {
    font-family: 'AmsiProCond-Bold';
    src: url('./fonts/AmsiProCond-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'AmsiProCond-Regular';
    src: url('./fonts/AmsiProCond-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 1360px;
    height: 768px;
}
body {
    background: #fff;
    overflow: hidden;
}
/* Dados */
#conteudo { 
    position: absolute;
    top: 0;
    left: 0;
    width: 1360px;
    height: 768px;
}
#quadrado {
	position: absolute;
    top: 187px;
    left: 612px;
    width: 406px;
    display: none;
    z-index: 30;
}
#quadrado2 {
	position: absolute;
    top: 353px;
    left: 669px;
    width: 310px;
    display: none;
    z-index: 32;
}
#abertura {
    width: 1360px;
    position: absolute;
    top: 0px;
    left: 0;
}
#calhau {
    width: 1360px;
    position: absolute;
    top: 0px;
    left: 0;
    display: none;
}
#fundo {
    width: 1360px;
    position: absolute;
    top: 0px;
    left: 0;
}
#ctFechamento {
    display: none;
}
#fechamento {
    width: 1360px;
    height: 704px;
    position: absolute;
    top: 0px;
    left: 0;
    background: url(./media/fechamento.jpg);
}
div#nome {
    height: 150px;
    position: absolute;
    left: 620px;
    top: 222px;
    font-family: 'AmsiProCond-Bold';
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    width: 388px;
    display: none;
    line-height: 50px;
    z-index: 40;
}
#reais2 {
    position: fixed;
    top: 409px;
    left: 690px;
    z-index: 35;
    color: #1666ba;
    font-family: 'AmsiProCond-Bold';
}
div#ctPreco2 {
	position: absolute;
    left: 735px;
    top: 310px;
	width: 220px;
    z-index: 40;
}
div#ctPreco {
	display: none;
	height: 140px;
}
div#preco {
    font-family: 'AmsiProCond-Bold';
    color: #1666ba;
    font-size: 150px;
    text-align: right;
    letter-spacing: -2px;
	float: left;
	min-width: 120px;
}
div#cents {
    font-family: 'AmsiProCond-Bold';
    color: #1666ba;
    font-size: 40px;
    text-align: left;
	float: left;
	margin-top: 100px;
	padding-left: 5px;
}
div#unidade {
    font-family: 'AmsiProCond-Regular';
    color: #1666ba;
    font-size: 30px;
    text-align: left;
    display: none;
	float: right;
    margin-right: 20px;
    margin-top: -10px;
}
div#validade {
    position: absolute;
    left: 400px;
    top: 715px;
    font-family: 'AmsiProCond-Bold';
    color: #1666ba;
    font-size: 35px;
    width: 551px;
    text-align: center;
    display: none;
}
img#fileId {
    position: absolute;
    height: 350px;
    width: 343px;
    top: 262px;
    left: 933px;
    display: none;
    z-index: 20;
}
div #ctImg {
    display: none;
} 
.keyframes mostra-preco {
    animation-name: mostra-preco;
    animation-duration: .5s;
}
@keyframes mostra-preco{
    from {
        opacity: 0;
        top: 420px;
    }
    to {
        opacity: 0;
        top: 320px;
    }
}